:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Colors */
  --color-bg-main: #0e0e0e;
  --color-border: #2a2a2a;
  --color-text-main: #eaeaea;

  /* Optional future use */
  --color-muted: #999;
  --color-accent: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("/src/assets/square.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #f2f2f2;
}
